## Core dotnet / Visual Studio Build Outputs
bin/
obj/
[Bb]in/
[Oo]bj/

## Visual Studio Cache, User-Specific Files, and Tools
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

## Rider / JetBrains IDEs
.idea/
*.sln.iml

## Publish / Deployment outputs
*publish/

## Secrets and Local Configurations
*.secrets.json
appsettings.Development.json
.env
.env.*

## Test and Coverage Results
TestResults/
*.clog
*.log

## Package Management
.paket/
project.lock.json
project.fragment.lock.json

## Operating System files
Thumbs.db
.DS_Store
